.bannerSlider {
    @media screen and (max-width: 767px) {
        width: 100%;
    }
}

// .carousel-item img {
//     @media screen and (max-width: 600px) {
//         height: 300px;
//         width: auto !important;
//         background-color: rgb(70, 189, 70);
//       }
// }



.visually-hidden {
    display: none;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}