* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

body {
  background-color: #fff;
}

img {
  max-width: 100%;
  object-fit: scale-down;
}
.containers {
  max-width: 1250px;
  margin: 0 auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  padding: 1.5em;
}
header {
  height: 15vh;
  background-color: #fff;
}
.main {
  max-width: 1250px;
  margin: 0 auto;
  display: grid;
  height: 85vh;
  overflow: hidden;
  grid-template-columns: 300px 1fr;
}

.sidebar {
  background-color: lightgray;
}
.main-container {
  max-height: 100%;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
// .content {
//   padding: 1.5em;
// }

h3 {
  text-align: center;
}

.navigator {
  text-transform: uppercase;
  padding-left: 1.5em;
  h3 {
    font-size: 16px;
  }
}

.product_list {
  padding: 1.5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-gap: 1em;
}
.product_item {
  border: 1px solid lightgray;
  display: grid;
  grid-template-rows: 140px 60px 20px 30px;
  padding: 0.5em;
  grid-gap: 0.5em;
  text-align: center;
  img {
    max-height: 100%;
    margin: 0 auto;
  }
  p {
    margin: 0;
    line-height: 18px;
  }
}
// section {
//   padding: 1.5em;
// }
// import styles components
@import './CategoryItem.module.scss';
@import '../Components/Shared/Footer/footer.scss';
@import '../Components/Partner/partner.scss';
@import '../Components/CategoriesSlider/EndCategoriesSlider/EndCategoriesSlider.scss';
@import "slick-carousel/slick/slick.scss";
@import "slick-carousel/slick/slick-theme.scss"
