.mid_item {
  padding: 0.5em;
  border: 1px solid lightgray;
  background-color: #fff;
  display: grid;
  grid-template-rows: 150px 50px;
  height: 210px;
  max-width: 200px;
  align-items: center;
  justify-content: space-between;
  // > * {
  //   border: 1px solid green;
  // }
  img {
    max-height: 150px;
  }

  .cat_title {
    font-size: 16px !important;
    line-height: 18px;
    padding: 5px;
    text-align: center;
  }

  &:hover {
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  }
}
