.partner-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  // width: 80%;
  background-color: #00008b;
  color: #fff;
  margin: 8px;
  font-size: 4em;
}
