.containers {
  z-index: 1111;
}

.navLogo img {
  width: 100%;
  position: relative;
  left: 0;
}

.SearchBar input {
  padding: 10px;
  border: 1px solid rgb(205, 228, 255);
}

.myCart i {
  font-size: 16px;
  color: #000000;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}

#lblCartCount {
  position: absolute;
  font-size: 13px;
  background: #000000;
  color: #fff;
  padding: 0 3px;
  vertical-align: top;
  margin-left: 5px;
}

.myCart button {
  background: rgb(247, 247, 247);
  border: 1px solid rgb(205, 228, 255);
  margin-left: 16px;
}

.userSection button {
  background: #ffffff;
  border: none;
}

.userSection button:hover {
  color: #11a0db;
}

@media only screen and (max-width: 600px) {
  .navLogo {
    width: 50%;
  }

  .userSection,
  .myCart {
    align-items: center;
    justify-content: center;
  }
}
