.sidenav---navitem---9uL5T {
    color           : #000 !important;
    margin-top      : 5px;
    border-radius   : 20px !important;
    padding         : 5px 0px !important;
    background      : #FFFFFF;
    background-color: #FFFFFF;

}

.sidenav---navitem---9uL5T:hover {
    // color     : #FFFFFF !important;
    background: #218838;

}


.sidenav---sidenav-toggle---1KRjR {
    background-color: #218838 !important;
    border-radius   : 100% !important;
}

.sidenav---sidenav---_2tBP {
    position   : absolute;
    padding    : 0 !important;
    top        : auto !important;
    bottom     : auto !important;
    left       : auto !important;
    z-index    : 1006;
    min-width  : 70px;
    color      : rgb(0, 0, 0) !important;
    background : rgb(255, 255, 255) !important;
    transition : min-width 0.2s;
    box-sizing : border-box;
    line-height: 20px;
}

// Extra CSS
.sidenav---sidenav-nav---3tvij .sidenav---sidenav-navitem---uwIJ- .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo,
.sidenav---sidenav-nav---3tvij .sidenav---sidenav-navitem---uwIJ- .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f {
    color: #000000 !important;
}

.sidenav---sidenav-nav---3tvij .sidenav---sidenav-navitem---uwIJ- .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo,
.sidenav---sidenav-nav---3tvij .sidenav---sidenav-navitem---uwIJ- .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f:hover {
    color: #ffffff !important;
}