.endCategoriesSlider {
  background: #f1f3f5;
  padding: 2em 1.5em;
  @media (max-width: 768px) {
    padding: 0.5em;
  }

  .heading {
    color: #000;
    // font-weight: 600;
    // font-size: 1.5em;
    text-align: center;
    // display: inline-block;
    margin: 0 auto;
    padding-bottom: 0.5em;
    // border-bottom: 1px solid #5cbd5a;
    width: auto;
  }

  .item {
    margin-top: 1em;
    margin-left: 1.5rem;
    @media (max-width: 768px) {
      margin: 0.5em;
    }
  }
}

.tb-style {
  background: #5cbd5a;
  height: 0.1rem;
  width: 25%;
  margin-bottom: 1.5rem;
}

.slick-prev:before,
.slick-next:before {
  display: inline-block;
  font-size: 35px !important;
  color: gray !important;
  box-shadow: 5px 5px 20px #f8f9fa;
  @media (max-width: 768px) {
    font-size: 20px !important;
  }
}

.endcg-slider {
  margin: 0 2.5rem;
}
