.endCategoriesSlider {
    background: #fff;
    padding: 2rem 0;

    h1 {
        color: #000;
        margin-bottom: 1.5rem;
        font-size: 2rem;
        line-height: .5;
    }

    .item {
        margin-left: 1.5rem;
    }
}

.tb-style {
    background: #5CBD5A;
    height: .1rem;
    width: 25%;
    margin-bottom: 1.5rem;
}

.slick-prev:before, .slick-next:before {
    display: inline-block;
    font-size: 35px !important;
    color: gray !important;
    box-shadow: 5px 5px 20px #f8f9fa;
    
}


.endcg-slider {
    margin: 0 2.5rem;
    
}




