.shipping-body {
    background-color: #f1f3f5;
}

.shipping-card {
    background-color: white;
    border: none;
    border-radius: 0.9rem;
    box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
}

.shipping-card-header {
    border-radius: 0.9rem 0.9rem 0 0;
    background-color: #b2f2bb;
    padding-left: 10px;
}
